<!-- <app-photo-header [titolo]="this.titoloHeader" [pagina]="this.paginaHeader"></app-photo-header> -->

<!-- <app-about [isVisible]="false"></app-about>

<app-carousel [products]="this.products" [titolo]="this.titolo"></app-carousel>

<app-vesuvio></app-vesuvio> -->

<div class="container-fluid py-5">
  <div class="container">
    <div class="row mt-5 mb-3">
      <div class="col-12">
        <h1 class="section-title position-relative text-center mb-3 norwester">
          Bellella - La nostra storia
        </h1>
      </div>
    </div>

    <div class="row px-0 px-md-5 mb-35">
      <div class="col-12 mb-3">
        <blockquote class="blockquote">
          <p class="mb-3 desc-home">
            {{ descrizione1 }}
          </p>
        </blockquote>
      </div>
    </div>
    <div class="row px-0 px-md-5 mb-5">
      <div class="col-12">
        <img class="img-fluid" src="assets/img/chisiamo.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h1 class="section-title position-relative text-center mb-3 norwester">
        Bellella - Le nostre sedi
      </h1>
    </div>
  </div>

  <div class="row mt-5 mx-0 mx-md-0">
    <div class="col-lg-4 desc-home d-flex">
      <p class="my-lg-auto my-3">
        {{ descrizione2 }}
      </p>
    </div>
    <div class="col-lg-4 desc-home d-flex justify-content-center">
      <div class="embed-responsive embed-responsive-1by1 h-100" id="iframe-video">
        <video class="embed-responsive-item"  controls="true" >
          <source src="assets/img/video_bellella.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="col-lg-4 desc-home d-flex">
      <p class="my-lg-auto my-3">
        {{ descrizione3 }}
      </p>
    </div>
    
  </div>

 
</div>

<app-vesuvio class="m-0"></app-vesuvio>
