<!-- <app-photo-header [titolo]="this.titoloHeader" [pagina]="this.paginaHeader"></app-photo-header> -->

<!-- <app-about [isVisible]="false"></app-about>

<app-carousel [products]="this.products" [titolo]="this.titolo"></app-carousel>

<app-vesuvio></app-vesuvio> -->

<div class="container-fluid py-5">
  <div class="container">
    <div class="row mt-5 mb-3">
      <div class="col-12">
        <h1 class="section-title position-relative text-center mb-3 norwester">
          Bellella - La nostra storia
        </h1>
      </div>
    </div>

    <div class="row mx- mb-35">
      <div class="col-12 mb-3">
        <blockquote class="blockquote">
          <p class="mb-3 desc-home">
            Bellella ® nasce dall'idea di due giovani pizzaioli napoletani,
            Giorgio Riccio e Raffaele Marigliano. Dopo anni di gavetta ed
            esperienze maturate fin dalla giovane età, decidono di aprire la
            prima sede di Bellella in provincia di Napoli a Quarto nel 2021.
            Qui, sin dal subito, si evince la volontà di fondere Tradizione e
            Innovazione in ogni loro proposta. Nel 2022 dato il forte successo e
            la grande affluenza nella prima sede, il progetto si espande nella
            nuova sede "take away" di Varcaturo dove diventa possibile
            assaporare tutto il mondo Bellella direttamente a casa.
          </p>
        </blockquote>
      </div>
    </div>
    <div class="row mx-5 mb-5">
      <div class="col-12">
        <img class="img-fluid" src="assets/img/chisiamo.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h1 class="section-title position-relative text-center mb-3 norwester">
        Bellella - LOREM IPSUM
      </h1>
    </div>
  </div>

  <div class="row mt-5 mx-5">
    <div class="col-lg-4 desc-home d-flex">
      <p class="my-lg-auto my-3">
        Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e
        della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal
        sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri
        e li assemblò per preparare un testo campione. È sopravvissuto non solo a più
        di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci
        sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la
        diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano
        passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come
        Aldus PageMaker, che includeva versioni del Lorem Ipsum.
      </p>
    </div>
    <div class="col-lg-4 d-flex justify-content-center">
      <div class="embed-responsive embed-responsive-1by1 h-100" id="iframe-video">
        <iframe class="embed-responsive-item" src="assets/img/IMG_0707.mp4" type="video/mp4"></iframe>
      </div>
    </div>
    <div class="col-lg-4 desc-home d-flex">
      <p class="my-lg-auto my-3">
        Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e
        della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal
        sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri
        e li assemblò per preparare un testo campione. È sopravvissuto non solo a più
        di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci
        sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la
        diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano
        passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come
        Aldus PageMaker, che includeva versioni del Lorem Ipsum.
      </p>
    </div>
    
  </div>

 
</div>

<app-vesuvio class="m-0"></app-vesuvio>
