/* Navbar */
@media (min-width: 992px){ 

    .custom-navbar{
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        background-color: #fff;
    }

}



/* Navbar */
@media (max-width: 991.98px){
    .red-bar {
        background-color: #aa1917; 
      }

    .custom-navbar{
        margin-right: auto;
        margin-left: auto;
        background-color: #aa1917;
    }

    .navbar-light .navbar-nav .nav-link {
        color:#fff;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color:#74c6d4;
}

}