<div class="container-fluid py-5">
  <div class="container">
    <div class="row mt-5 mb-3">
      <div class="col-12">
        <h1 class="section-title position-relative text-center mb-3 norwester">
          Bellella - Pizzeria Napoletana
        </h1>
      </div>
    </div>
    <div class="row px-0 px-md-5">
      <div class="col-12">
        <blockquote class="blockquote">
          <p class="mb-3 desc-home">
            {{ descrizione1 }}
          </p>
        </blockquote>
      </div>
      <div class="col-12 d-flex mb-3">
        <a
          class="icon-link ml-auto font-weight-bold"
          href="assets/pdf/bellella_pizzeria.pdf"
          target="_blank"
        >
          MENU PIZZERIA
          <i class="fa fa-arrow-right ml-2"></i>
        </a>
      </div>

      <div class="col-12 d-flex">
        <a
          class="icon-link ml-auto font-weight-bold"
          href="assets/pdf/bellella_asporto.pdf"
          target="_blank"
        >
          MENU ASPORTO
          <i class="fa fa-arrow-right ml-2"></i>
        </a>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-lg-5 desc-home d-flex">
        <p class="my-lg-auto my-3">
          {{ descrizione2 }}
        </p>
      </div>
      <div class="col-lg-7" style="min-height: 400px">
        <div class="position-relative h-100 rounded overflow-hidden">
          <img
            class="position-absolute w-100 h-100"
            src="assets/img/home/foto1.jpg"
            style="object-fit: cover"
          />
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-7 d-none d-md-block" style="min-height: 400px">
        <div class="position-relative h-100 rounded overflow-hidden">
          <img
            class="position-absolute w-100 h-100"
            src="assets/img/home/foto5.jpg"
            style="object-fit: cover"
          />
        </div>
      </div>
      <div class="col-lg-5 desc-home d-lg-flex d-none d-md-block">
        <p class="my-auto">
          {{ descrizione3 }}
        </p>
      </div>
    </div>

    <div class="row mt-5 mb-3">
      <div class="col-12">
        <h1 class="section-title position-relative text-center mb-3 norwester">
          Sbirciata al Menù
        </h1>
      </div>
    </div>

    <!-- <div class="row mt-5">
            <div class="col-lg-4 col-md-6 p-1 portfolio-item first d-md-block"
                *ngFor="let img of portfolio; let i = index" [ngClass]="{ 'd-none': i % 2 }">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{{ img.path }}" alt="" />
                </div>
            </div>
        </div> -->

    <div class="row mt-5">
      <div class="col-12 col-md-4">
        <div class="card">
          <img
            class="card-img-top rounded-circle"
            src="assets/img/card2.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold norwester">
              Frittatina alla carbonara
            </h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <img
            class="card-img-top rounded-circle"
            src="assets/img/card1.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold norwester">
              Pizza parmigiana
            </h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <img
            class="card-img-top rounded-circle"
            src="assets/img/card3.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold norwester">
              Crocche' mortella e pistacchio
            </h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-3">
      <div class="col-12">
        <h1 class="section-title position-relative text-center mb-3 norwester">
          Vieni a trovarci
        </h1>
      </div>
    </div>
    <div class="row mt-5 mb-3" id="dove-siamo">
      <div class="col-12 col-lg-8 d-flex align-items-center justify-content-center mb-5 mb-lg-0">
        <!-- <h1 class="position-relative text-center norwester">
          Vieni a trovarci
        </h1> -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5073.497855855228!2d14.13759621234728!3d40.87802133671592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b0fd93bd1c3db%3A0x5ead30b8cd8f63da!2sBellella%20Pizzeria%20Napoletana!5e0!3m2!1sit!2sit!4v1712054887206!5m2!1sit!2sit"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col-12 mb-5">
            <span class="font-weight-bold">Dove siamo</span
            ><i class="fa fa-map-marker-alt ml-1 mr-3"></i>
            <hr />
            <span>Corso Italia 65, Quarto, NA</span>
          </div>
          <div class="col-12 mb-5">
            <span class="font-weight-bold">Telefono</span
            ><i class="fa fa-phone-alt ml-1 mr-3"></i>
            <hr />
            <span>081 1878 9054</span>
          </div>
          <div class="col-12 mb-5">
            <span class="font-weight-bold">Giorni</span
            ><i class="fa fa-calendar-day ml-1 mr-3"></i>
            <hr />
            <span>Lunedì - Sabato</span
            ><span> (11.30 – 14.45 / 18.30 - 23.30)</span>
            <hr />
            <span>Domenica</span><span> (18.30 - 23.30)</span>
          </div>
          <!-- <div class="col-6 mb-5">
            <span class="font-weight-bold">Orari</span
            ><i class="fa fa-clock ml-1 mr-3"></i>
            <hr />
            <span>11.30 – 14.45 / 18.30 - 23.30</span>
            <hr />
            <span>18.30 - 23.30</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<app-vesuvio class="m-0"></app-vesuvio>
