<app-photo-header
  [titolo]="titoloHeader"
  [pagina]="paginaHeader"
></app-photo-header>

<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h1 class="section-title position-relative text-center mb-3 norwester">
        Vieni in Pizzeria
      </h1>
    </div>
  </div>
  <div class="row mt-5 mb-3" id="dove-siamo">
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-12 mb-3">
          <a
            href="https://pnssm.pro/aoeqo5x/"
            target="_blank"
            rel="noopener"
            class="btn btn-primary text-white norwester"
            style="font-size: 0.8rem"
            >Prenota in Pizzeria
            <i class="fa fa-arrow-right ml-2"></i>
          </a>
        </div>
        <div class="col-12 mb-3">
          <span class="font-weight-bold">Dove siamo</span
          ><i class="fa fa-map-marker-alt ml-1 mr-3"></i>
          <hr />
          <span>Corso Italia 65, Quarto, NA</span>
        </div>
        <div class="col-12 mb-3">
          <span class="font-weight-bold">Telefono</span
          ><i class="fa fa-phone-alt ml-1 mr-3"></i>
          <hr />
          <span>081 1878 9054</span>
        </div>
        <div class="col-12 mb-3">
          <span class="font-weight-bold">Giorni</span
          ><i class="fa fa-calendar-day ml-1 mr-3"></i>
          <hr />
          <span>Lunedì - Sabato</span
          ><span> (11.30 – 14.45 / 18.30 - 23.30)</span>
          <hr />
          <span>Domenica</span><span> (18.30 - 23.30)</span>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 d-flex align-items-center justify-content-center mb-5 mb-lg-0"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5073.497855855228!2d14.13759621234728!3d40.87802133671592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b0fd93bd1c3db%3A0x5ead30b8cd8f63da!2sBellella%20Pizzeria%20Napoletana!5e0!3m2!1sit!2sit!4v1712054887206!5m2!1sit!2sit"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h1 class="section-title position-relative text-center mb-3 norwester">
        Vieni in Trattoria
      </h1>
    </div>
  </div>
  <div class="row mt-5 mb-3" id="dove-siamo">
    <div
      class="col-12 col-lg-8 d-flex align-items-center justify-content-center mb-5 mb-lg-0"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3587.4694438771926!2d14.13901562788383!3d40.8786725708113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b0f3e5b1a2971%3A0xfa5cb9a98a0f042c!2sBellella%20Trattoria%20Napoletana!5e0!3m2!1sit!2sit!4v1712055451453!5m2!1sit!2sit"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-12 mb-3">
          <a
            href="https://pnssm.pro/rp8fyzw/"
            target="_blank"
            rel="noopener"
            class="btn btn-primary text-white norwester"
            style="font-size: 0.8rem"
            >Prenota in Trattoria
            <i class="fa fa-arrow-right ml-2"></i>
          </a>
        </div>
        <div class="col-12 mb-3">
          <span class="font-weight-bold">Dove siamo</span
          ><i class="fa fa-map-marker-alt ml-1 mr-3"></i>
          <hr />
          <span>Corso Italia 65, Quarto, NA</span>
        </div>
        <div class="col-12 mb-3">
          <span class="font-weight-bold">Telefono</span
          ><i class="fa fa-phone-alt ml-1 mr-3"></i>
          <hr />
          <span>081 1878 9054</span>
        </div>
        <div class="col-12 mb-3">
          <span class="font-weight-bold">Giorni</span
          ><i class="fa fa-calendar-day ml-1 mr-3"></i>
          <hr />
          <span>Lunedì - Sabato</span
          ><span> (11.30 – 14.45 / 18.30 - 23.30)</span>
          <hr />
          <span>Domenica</span><span> (10.30 - 17.30)</span>
        </div>
      </div>
    </div>
  </div>
</div>
