<!-- Footer Start -->
<div class="container-fluid footer bg-primary py-3">
    <div class="container text-center py-3">
        <div class="row">
            <div class="col-12 mb-4">
                <a routerLink="home" class="navbar-brand m-0">
                    <img class="logo" src="assets/img/logo.png" alt="">
                </a>
            </div>
            <div class="col-12 mb-4">
                <a class="btn btn-outline-secondary btn-social mr-2"
                    href="https://www.facebook.com/BellellaPizzeriaNapoletana" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-secondary btn-social"
                    href="https://www.instagram.com/bellellapizzerianapoletana/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-12 mt-2 mb-4">
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                        <h5 class="font-weight-bold-white mb-2">Dove siamo</h5>
                        <p class="mb-2-white">Corso Italia, 65/67, 80010 Quarto NA</p>
                        <p class="mb-0-white">081 1878 9054</p>
                        <p class="mt-4 mt-md-5 mt-lg-4 mb-2-white">Via Madonna del Pantano, 76, 80014 Varcaturo NA</p>
                        <p class="mb-0-white">081 1802 7919</p>
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        <h5 class="font-weight-bold-white mb-2 d-none d-md-block" >Orari apertura</h5>
                        <h5 class="font-weight-bold-white mt-2 mb-4 d-md-none" >Orari apertura Quarto</h5>
                        <p class="mb-2-white">Lunedì – Sabato: 11.30 – 14.45 / 18.30 - 23.30</p>
                        <p class="mb-0-white">Domenica: 18.30 - 23.30</p>
                        <h5 class="font-weight-bold-white mt-4 d-md-none" >Orari apertura Varcaturo</h5>
                        <p class="mt-4 mb-2-white">Lunedì: Chiusi</p>
                        <p class="mb-2-white">Martedì – Sabato: 11.30 – 14.45 / 18.30 - 23.30</p>
                        <p class="mb-0-white">Domenica: 18.30 - 23.30</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="text-white mt-3">&copy; Copyright Bellella Pizzeria Napoletana ® Corso Italia, 65, 80010 Quarto NA. 
                    <br><a routerLink="policy" class="text-secondary">Privacy e cookie policy</a>. 
                    Designed by <a class="text-secondary" target="_blank" href="https://www.instagram.com/invogadv/">Invoga • Creative Digital Company</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->